html, body { font-family: "Oxygen Mono";
       background: #f0f0f0;
       background: linear-gradient(to bottom, rgba(225,232,252,1) 0%, rgba(242,242,242,1) 100%); }

section { width: 100%; }

textarea { width: 100%; min-height: 340px; }


.centering { display: flex; justify-content: center; align-items: center; flex-direction: column; }

#banner > * { display: none; border: 2px solid rgba(0,0,0, 0.5); border-radius: 12px; padding: 8px; }
#banner.OK #OK, #banner.ERROR #ERROR, #banner.processing #processing, #banner.fetching #fetching { display: block; }

#OK { background: green; }
#ERROR { background: red; }
#processing, #fetching { background: orange; }

#log { overflow-x: scroll; }


@font-face {
  font-family: 'Oxygen Mono';
  src: local('Oxygen Mono'), url('oxygen-mono-regular.woff'), url('oxygen-mono-regular.ttf');
}

@media (min-width: 700px) {
  section { width: 60%; padding: 42px 20%; min-height: 42vh; }
  img { max-width: 700px; }
}
