[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = ">=0.12,<0.13"
jsonschema = ">=2.6,<3"

[dev-packages]
typing = "*"
pytest = "*"
requests = "*"
pytest-pep8 = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3"
