{
  "openapi": "3.0.2",
  "info": {
    "description": "This is the SpaceApi Validator api",
    "version": "0.0.1",
    "title": "SpaceApi Validator"
  },
  "servers": [
    {
      "url": "https://validator.spaceapi.io",
      "description": "The SpaceApi Validator Service"
    }
  ],
  "paths": {
    "/v1/": {
      "get": {
        "tags": [
          "v1"
        ],
        "responses": {
          "200": {
            "description": "get default information about the server",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          }
        }
      }
    },
    "/v1/validate/": {
      "post": {
        "tags": [
          "v1"
        ],
        "summary": "validate an input against the SpaceApi schema",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "request body is malformed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "path doesn't exist",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "something went wrong"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidationRequest": {
        "properties": {
          "data": {
            "type": "object"
          }
        },
        "required": [
          "data"
        ]
      },
      "ValidationResponse": {
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "valid",
          "message"
        ]
      },
      "ServerInformation": {
        "properties": {
          "description": {
            "type": "string"
          },
          "usage": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "description",
          "usage",
          "version"
        ]
      },
      "ValidationError": {
        "properties": {
          "details": {
            "type": "string"
          }
        },
        "required": [
          "details"
        ]
      }
    }
  }
}

